.w-15 {
  width: 3.75rem;
}

.h-15 {
  height: 3.75rem;
}

.min-h-9 {
  min-height: 2.25rem;
}

.min-h-10 {
  min-height: 2.5rem;
}

.min-h-11 {
  min-height: 2.75rem;
}

.min-h-12 {
  min-height: 3rem;
}

.min-h-15 {
  min-height: 3.75rem;
}
