/* COMPONENT DEFAULT: only layout, shapes component and color neutral */
.btn {
  @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center text-center transition duration-200 ease-in-out rounded-btn;
  @apply h-10 px-4 text-sm min-h-10;
  @apply font-semibold bg-neutral text-neutral-content no-underline;
  line-height: 1em;

  /* hover and focus */
  &:hover,
  &-active {
    @apply bg-neutral-focus;
  }

  &:focus-visible {
    @apply outline-none ring-2 ring-offset-2 ring-neutral-focus;
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply pointer-events-none;
  }

  /* loading */
  &.btn-loading {
    &,
    &:hover {
      @apply pointer-events-none;
    }
    &:before {
      @apply mr-2 h-4 w-4 rounded-full border-2;
      animation: spin 2s linear infinite;
      content: "";
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: currentColor;
      border-right-color: currentColor;
    }
  }

  /* shapes */
  &-square {
    @apply h-10 w-10 p-0;
  }
  &-circle {
    @apply h-10 w-10 rounded-full p-0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn.btn-loading:before {
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* COMPONENT STYLED: Component with design / colors */
.btn {
  /* disabled */
  &-disabled,
  &-disabled:hover,
  &[disabled],
  &[disabled]:hover {
    @apply bg-neutral bg-opacity-20 text-base-content text-opacity-20;
  }

  /* loading */
  &.btn-loading {
    &.btn-square:before,
    &.btn-circle:before {
      @apply mr-0;
    }
    &.btn-sm:before {
      @apply h-3 w-3;
    }
    &.btn-lg:before &.btn-xl:before,
    &.btn-2xl:before {
      @apply h-5 w-5;
    }
  }

  /* brand colors */
  &-primary {
    @apply bg-primary text-shades-white;
    &:hover,
    &.btn-active {
      @apply bg-primary-700;
    }
    &:focus-visible {
      @apply ring-primary;
    }

    /* disabled */
    &.btn-disabled,
    &.btn-disabled:hover,
    &[disabled],
    &[disabled]:hover {
      @apply bg-primary-200 text-shades-white;
    }
  }

  /* btn light */
  &-light {
    @apply bg-neutral bg-opacity-30 text-base-content text-opacity-70;
    &:hover,
    &.btn-active {
      @apply bg-opacity-50 text-opacity-100;
    }
    &:focus-visible {
      @apply ring-neutral ring-opacity-30;
    }

    /* disabled */
    &.btn-disabled,
    &.btn-disabled:hover,
    &[disabled],
    &[disabled]:hover {
      @apply bg-neutral bg-opacity-10 text-base-content text-opacity-20;
    }

    /* primary */
    &.btn-primary {
      @apply bg-primary-50 text-primary;
      &:hover,
      &.btn-active {
        @apply bg-primary-200 text-primary-700;
      }
      &:focus-visible {
        @apply ring-primary-200;
      }

      /* disabled */
      &.btn-disabled,
      &.btn-disabled:hover,
      &[disabled],
      &[disabled]:hover {
        @apply bg-primary-30 text-primary-200;
      }
    }
  }

  /* btn-ghost */
  &-ghost {
    @apply bg-transparent text-base-content text-opacity-70;
    &:hover,
    &.btn-active {
      @apply bg-base-content bg-opacity-10 text-opacity-100;
    }
    &:focus-visible {
      @apply ring-base-content ring-opacity-20;
    }

    /* disabled */
    &.btn-disabled,
    &.btn-disabled:hover,
    &[disabled],
    &[disabled]:hover {
      @apply bg-transparent text-base-content text-opacity-20;
    }

    /* primary */
    &.btn-primary {
      @apply text-primary;
      &:hover,
      &.btn-active {
        @apply bg-primary-30 text-primary-700;
      }
      &:focus-visible {
        @apply ring-primary-200;
      }

      /* disabled */
      &.btn-disabled,
      &.btn-disabled:hover,
      &[disabled],
      &[disabled]:hover {
        @apply text-secondary-200;
      }
    }
  }

  /* outline */
  &-outline {
    border-width: var(--border-btn, 1px);
    @apply border-base-content border-opacity-40 bg-transparent text-base-content text-opacity-70;
    &:hover,
    &.btn-active {
      @apply bg-base-content bg-opacity-10 text-opacity-100;
    }
    &:focus-visible {
      @apply ring-base-content ring-opacity-20;
    }

    &.btn-disabled,
    &.btn-disabled:hover,
    &[disabled],
    &[disabled]:hover {
      @apply border-base-content border-opacity-10 bg-transparent text-base-content text-opacity-30;
    }

    &.btn-primary {
      @apply border-primary-200 text-primary;
      &:hover,
      &.btn-active {
        @apply bg-primary-30 text-primary-700;
      }
      &:focus-visible {
        @apply ring-primary-200;
      }

      /* disabled */
      &.btn-disabled,
      &.btn-disabled:hover,
      &[disabled],
      &[disabled]:hover {
        @apply border-primary-50 text-primary-200;
      }
    }
  }

  /* link */
  &-link {
    @apply bg-transparent text-neutral;
    &:hover,
    &.btn-active {
      @apply bg-transparent text-base-content;
    }
    &:focus-visible {
      @apply ring-base-content;
    }

    /* disabled */
    &.btn-disabled,
    &.btn-disabled:hover,
    &[disabled],
    &[disabled]:hover {
      @apply bg-transparent text-base-300;
    }

    /* primary */
    &.btn-primary {
      @apply text-primary;
      &:hover,
      &.btn-active {
        @apply text-primary-700;
      }
      &:focus-visible {
        @apply ring-primary;
      }

      /* disabled */
      &.btn-disabled,
      &.btn-disabled:hover,
      &[disabled],
      &[disabled]:hover {
        @apply text-secondary-200;
      }
    }
  }
}
